<style type="text/css">
	#home {
  		background-image: url("/images/1.jpg");
  		width: 100%;
  		height: 100%;
  		border: 1px solid black;
	}
</style>
<div class="container" id="home">
	<h1 style="text-align: center">WELCOME TO MY LIBRARY</h1>
</div>