// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*INDEX TABLE SETTINGS*/

.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}



/*NEW BOOK CSS SETTINGS*/

.contact-form { 
	margin-top:15px !important;
}
.contact-form .textarea { 
	min-height:220px !important;
	resize:none !important;
}
.form-control { 
	box-shadow:none !important;
	border-color:#eee !important;
	height:49px !important;
	width: 100% !important;
}
.form-control:focus { 
	box-shadow:none !important;
	border-color:#00b09c !important;
}
.form-control-feedback { 
	line-height:50px !important;
}
.main-btn { 
	background:#00b09c !important;
	border-color:#00b09c !important;
	color:#fff !important;
}
.main-btn:hover { 
	background:#00a491 !important;
	color:#fff !important;
}
.form-control-feedback {
	line-height: 50px !important;
	top: 0px !important;
}

/* NEW BOOK RADIO BUTTON CSS SETTINGS */

.radiobutton {
	clear: both;
	margin: 0 50px;
}

label {
  width: 200px;
  border-radius: 3px;
  border: 1px solid #D1D3D4
}

/* hide input */
input.radio:empty {
	margin-left: -999px;
}

/* style label */
input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 2.5em;
	text-indent: 3.25em;
	margin-top: 2em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
	color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #4DCB6D;
}

input.radio:checked ~ label {
	color: #777;
}